Anonymous_message/settings.py
Anonymous_message/settings_debug.py
anonymous_message_nginx.conf
Anonymous_message_uwsgi.ini
.static/
.idea/
*.pyc
.*/migrations/
.website/migrations/*
.media/*
/media/QR/
/website/migrations/
ghostdriver.log